# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-yai.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Yottaflux Client
Exec=electrum_yai %u
GenericName[en_US]=Yottaflux Wallet
GenericName=Yottaflux Wallet
Icon=electrum
Name[en_US]=Electrum Yottaflux Wallet
Name=Electrum Yottaflux Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum_yai
Terminal=false
Type=Application
MimeType=x-scheme-handler/yottaflux
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum_yai --testnet %u
Name=Testnet mode
